@import 'common/stylesheets/breakpoints';
@import 'common/stylesheets/colour-palette';

.education__kind {
  position: absolute;
  top: -8px;
  margin-left: 6px;
  font-size: 12px;
  line-height: 18px;
  color: rgba($main-grey, 0.65);
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $laptop) {
    display: none;
  }
}
