@import 'common/stylesheets/mixins';
@import 'common/stylesheets/breakpoints';
@import 'components/header/header.vars';
@import 'common/stylesheets/colour-palette';

.navigation__menu {
  @include list-reset;

  display: none;
  flex-direction: column;
  position: absolute;
  top: $header-navigation-height;
  left: 0;
  width: 100%;
  background-color: rgba($dark-blue, 0.85);

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
  }
}
