@import 'common/stylesheets/colour-palette';
@import 'common/stylesheets/breakpoints';

.about-me__info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $laptop) {
    flex-direction: column;
    width: 350px;
    margin-bottom: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -2px;
      width: 2px;
      height: 100%;
      background-color: $light-grey;
    }
  }
}
