@import 'common/stylesheets/breakpoints';
@import 'common/stylesheets/colour-palette';

.about-me__photo-container {
  margin-right: 80px;
  margin-bottom: 25px;

  @media (min-width: $mobile-mid) {
    margin-right: 100px;
  }

  @media (min-width: $tablet) {
    position: relative;
    width: 50%;
    margin: 0;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background-color: $light-grey;
    }
  }

  @media (min-width: $laptop) {
    width: auto;
    margin-bottom: 40px;

    &::after {
      display: none;
    }
  }
}
