@import 'common/stylesheets/breakpoints';
@import 'components/header/header.vars';
@import 'components/page/page.vars';

.header__navigation {
  height: $header-navigation-height;
  padding: 0 $padding-horizontal-mobile;

  @media (min-width: $tablet) {
    padding: 0 $padding-horizontal-desktop;
  }
}
